<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/official.png"></ion-img>
      <ion-card-header>
        <ion-card-title class="cardtitle">Are you ready to be official</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Here you'll find the podcasts from the boys</p>
      </ion-card-content>
      <ion-button (click)="login()">Log in to spotify</ion-button>
    </ion-card>
</ion-content>

<ion-content>


</ion-content>